* {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1 {
  font-size: 45px;
  font-weight: 900;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
  width: 100%;
  top: 0;
}

nav .brand {
  margin: 30px 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__toggle {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  padding-top: 60px;
}

.menu__toggle a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 50px;
  color: #818181;
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.menu__toggle a:hover {
  color: #f1f1f1;
}

.menu__toggle .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.header {
  background: url(../img/bgheader.jpg);
  background-size: cover;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100vw;
  min-height: 50rem;
  background-repeat: no-repeat;
  background-position: 45%;
}

.header P {
  width: 500px;
  color: #16a2c5;
  padding: 300px 0px 10px 80px;
  text-transform: uppercase;
  line-height: 1.6;
}

.header h1 {
  padding: 0px 80px;
  color: #ffffff;
  font-size: 60px;
}

#wedeliver {
  background-color: #1db2d7;
  min-height: 40rem;
  width: 100vw;
}

#wedeliver h1 {
  padding: 60px 80px;
  color: #ffffff;
  font-size: 60px;
}

#wedeliver #wedeliver__products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#wedeliver .wedeliver__img {
  max-width: 100%;
  padding: 20px 10px 30px 10px;
}

#jobs {
  width: 100vw;
  min-height: 3rem;
  background-size: cover;
  background-color: #7b7b7b;
}

#jobs h1 {
  padding: 60px 80px;
  color: #ffffff;
  font-size: 60px;
  margin-bottom: 40px;
}

#jobs .jobs__carousel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 500px;
}

#jobs .jobs__bullets {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 60px;
}

#jobs .jobs__bullets a {
  padding: 0px 8px;
  margin-left: 5px;
}

#jobs .jobs__p {
  color: #ffffff;
  width: 350px;
}

#jobs .jobs__p p {
  padding: 5px 80px;
  font-size: 13px;
}

#jobs .jobs__p .jobs__p--adjust {
  color: #131313;
  font-size: 12px;
}

#jobs .jobs__celprlx img {
  width: 900px;
  margin-top: -400px;
  margin-left: 250px;
}

#jobs .jobs__celprlx .cel__base {
  position: absolute;
  z-index: 1;
}

#jobs .jobs__celprlx .cel__conteudo {
  position: absolute;
  width: 900px;
  z-index: 1;
}

#thumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100vw;
}

#thumbs img {
  width: 216px;
  margin-bottom: -4px;
}

#clients {
  width: 100vw;
  min-height: 45rem;
  background-color: #ffffff;
}

#clients h1 {
  padding: 60px 80px;
  font-size: 60px;
}

#clients .clients__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px 80px;
}

#clients .clients__brand img {
  width: 100%;
  padding: 20px 30px;
}

footer {
  background-color: #131313;
  background: url(../img/footer/footerbg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  min-height: 60rem;
}

footer h1 {
  padding: 222px 80px;
  color: #ffffff;
  font-size: 60px;
}

footer #footer__contact {
  padding: 100px 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  max-width: 400px;
}

footer #footer__contact a {
  margin-right: 7rem;
}

footer #footer__contact P {
  color: #ffffff;
}

footer #footer__contact .footer__p {
  color: #25fcff;
}
/*# sourceMappingURL=style.css.map */