* {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1 {
  font-size: 50px;
  font-weight: 900;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
  width: 100%;
  top: 0;
}

nav .brand {
  margin: 30px 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu--toggle {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 3;
  top: 0;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  padding-top: 60px;
}

.menu--toggle a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 35px;
  font-weight: bold;
  color: #818181;
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.menu--toggle a:hover {
  color: #f1f1f1;
}

.menu--toggle .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.header {
  background: url(../img/bgheader.jpg);
  background-size: cover;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100vw;
  min-height: 50rem;
  background-repeat: no-repeat;
  background-position: 45%;
}

@media (min-width: 1800px) {
  .header {
    min-height: 80rem;
  }
}

.header P {
  width: 500px;
  color: #16a2c5;
  padding: 300px 0px 10px 80px;
  text-transform: uppercase;
  line-height: 1.6;
}

@media (min-width: 1800px) {
  .header P {
    padding: 600px 0px 10px 380px;
    width: 800px;
  }
}

.header h1 {
  padding: 0px 80px;
  color: #ffffff;
}

@media (min-width: 1800px) {
  .header h1 {
    padding: 0px 380px;
  }
}

.wedeliver {
  background-color: #1db2d7;
  min-height: 45rem;
  z-index: -1;
  position: relative;
}

.wedeliver .bar--wedeliver {
  padding: 80px 0px 0px 80px;
}

.wedeliver h1 {
  padding: 0px 80px 100px 80px;
  color: #ffffff;
}

@media (min-width: 1800px) {
  .wedeliver h1 {
    padding: 100px 380px;
  }
}

.wedeliver .wedeliver--products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wedeliver .wedeliver--img {
  max-width: 100%;
  padding: 20px 10px 30px 10px;
}

@media (min-width: 1800px) {
  .wedeliver .wedeliver--img {
    padding: 60px 90px 150px 90px;
  }
}

.jobs {
  width: 100vw;
  min-height: 3rem;
  background-size: cover;
  background-color: #7b7b7b;
  z-index: -1;
  position: relative;
}

.jobs .bar--job {
  padding: 50px 0px 0px 80px;
}

.jobs h1 {
  padding: 0px 80px 100px 80px;
  color: #ffffff;
  margin-bottom: 40px;
}

@media (min-width: 1800px) {
  .jobs h1 {
    padding: 60px 380px;
  }
}

.jobs .jobs--carousel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 500px;
}

@media (min-width: 1800px) {
  .jobs .jobs--carousel {
    width: 950px;
  }
}

.jobs .jobs--bullets {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
  margin-right: 25px;
}

.jobs .jobs--bullets a {
  padding: 0px 5px;
}

@media (min-width: 1800px) {
  .jobs .jobs--bullets a {
    margin-top: 100px;
  }
}

.jobs .jobs--p {
  color: #ffffff;
  width: 350px;
}

.jobs .jobs--p p {
  padding: 5px 80px;
  font-size: 13px;
}

@media (min-width: 1800px) {
  .jobs .jobs--p p {
    padding: 5px 380px;
  }
}

.jobs .jobs--p .jobs--p-adjust {
  color: #131313;
  font-size: 12px;
}

.jobs .jobs--celprlx img {
  width: 900px;
  margin-top: -400px;
  margin-left: 180px;
  margin-bottom: -6px;
}

@media (min-width: 1800px) {
  .jobs .jobs--celprlx img {
    margin-left: 750px;
    width: 1300px;
  }
}

.jobs .jobs--celprlx .cel--base {
  position: absolute;
  z-index: 1;
}

.jobs .jobs--celprlx .cel--conteudo {
  position: absolute;
  z-index: 1;
  width: 900px;
}

@media (min-width: 1800px) {
  .jobs .jobs--celprlx .cel--conteudo {
    width: 1300px;
  }
}

.thumbs {
  padding: 0;
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #d8e3e9;
}

.thumbs .thumbs--col, .thumbs .thumbs--col6 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.thumbs .thumbs--col img, .thumbs .thumbs--col6 img {
  max-width: 180px;
}

.clients {
  min-height: 45rem;
  background-color: #ffffff;
}

.clients .bar--client {
  padding: 80px 0px 0px 80px;
}

.clients h1 {
  padding: 0px 80px 100px 80px;
}

@media (min-width: 1800px) {
  .clients h1 {
    padding: 100px 380px;
  }
}

.clients .clients--box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px 80px;
}

@media (min-width: 1800px) {
  .clients .clients--box {
    padding: 60px 80px;
  }
}

.clients .clients--brand img {
  width: 100%;
  padding: 20px 30px;
}

footer {
  background-color: #131313;
  background: url(../img/footer/footerbg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  min-height: 50rem;
}

footer .bar--footer {
  padding: 80px 0px 0px 80px;
}

footer h1 {
  padding: 0px 80px 220px 80px;
  color: #ffffff;
}

@media (min-width: 1800px) {
  footer h1 {
    padding: 100px 380px;
  }
}

footer .footer--contact {
  padding: 100px 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 590px;
  margin: 0px 10px;
}

footer .footer--contact a {
  margin-right: 8rem;
}

footer .footer--contact P {
  color: #ffffff;
  font-size: 11px;
}

footer .footer--contact .footer--p {
  color: #25fcff;
}
/*# sourceMappingURL=style.css.map */