* {
    margin: 0;   
    font-family: 'Montserrat', sans-serif;  
    box-sizing: border-box; 
}
h1{
    font-size: 50px;
    font-weight: 900;
}

nav {
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    top:0;
    
    .brand{
        margin: 30px 30px;
        align-items: center;
    }
}


//Menu Toggle
.menu--toggle {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 3;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.menu--toggle a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 35px;
    font-weight: bold;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.menu--toggle a:hover {
    color: #f1f1f1;
}

.menu--toggle .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

// @media screen and (max-height: 450px) {
    //   .menu--toggle {padding-top: 15px;}
    //   .menu--toggle a {font-size: 18px;}
    // }
    
    //end Menu Toggle
    
    
    .header{
        background: url(../img/bgheader.jpg);
        background-size: cover;
        object-fit: cover;
        width: 100vw;
        min-height: 50rem;
        background-repeat: no-repeat;
        background-position: 45%;
        
        @media (min-width:1800px) {
            min-height: 80rem;
        }    
        
        P{
            width: 500px;
            color: #16a2c5;
            padding: 300px 0px 10px 80px;
            text-transform: uppercase; 
            line-height: 1.6;
            
            @media (min-width:1800px) {
                padding: 600px 0px 10px 380px;
                width: 800px;
            }  
        }  
        h1{
            padding: 0px 80px;
            color: #ffffff;           
            @media (min-width:1800px) {
                padding:  0px 380px;
            }  
        }    
    }
    
    
    
    .wedeliver{
        background-color: #1db2d7;
        min-height: 45rem;
        // width: 100vw;
        z-index: -1;
        position: relative;
        
        .bar--wedeliver{
            padding: 80px 0px 0px 80px;
        }
        h1{
            padding: 0px 80px 100px 80px;
            color: #ffffff;
            @media (min-width:1800px) {
                padding:  100px 380px;
            }  
        }
        .wedeliver--products{
            display: flex;
            align-items: center;
            justify-content: center;              
        }
        
        .wedeliver--img{
            max-width: 100%;
            padding: 20px 10px 30px 10px;
            @media (min-width:1800px) {
                padding: 60px 90px 150px 90px;
            }  
        }        
    }


    .jobs{
        width: 100vw;
        min-height: 3rem;
        background-size: cover;
        background-color: #7b7b7b;
        z-index: -1;
        position: relative;
        
        .bar--job{
            padding: 50px 0px 0px 80px;
        }
        h1{
            padding: 0px 80px 100px 80px;
            color: #ffffff;
            margin-bottom: 40px;
            @media (min-width:1800px) {
                padding:  60px 380px;
            }  
        }
        .jobs--carousel{
            display: flex;
            align-items: center;
            justify-content: space-between; 
            width: 500px;
            @media (min-width:1800px) {
                width: 950px;                    
            } 
        }
        .jobs--bullets{
            display: flex;
            margin-top: 40px;
            margin-right: 25px;
            a{
                padding: 0px 5px;
                // margin-left: 2px;
                @media (min-width:1800px) {
                    margin-top: 100px;              
                } 
            }            
        }
        .jobs--p{
            color:#ffffff;
            width: 350px;
            
            p{
                padding: 5px 80px;
                font-size: 13px;
                @media (min-width:1800px) {
                    padding: 5px 380px;                                   
                } 
                
            }
            .jobs--p-adjust{
                color:#131313;
                font-size: 12px;
            }
            
            
        }
        .jobs--celprlx{
            img{
                width: 900px;
                margin-top: -400px;
                margin-left: 180px;
                margin-bottom: -6px;
                @media (min-width:1800px) {
                    margin-left: 750px;
                    width: 1300px;                   
                } 
            } 
            .cel--base{
                position: absolute;
                z-index: 1;           
            }
            .cel--conteudo{
                position: absolute;
                z-index: 1;
                width: 900px;

                @media (min-width:1800px) {
                    width: 1300px;                   
                }   
                
            }   
        }  
    }
    
    
    .thumbs {
        padding: 0;
        -ms-box-orient: horizontal;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        background-color: #d8e3e9;
        
        
        .thumbs--col, .thumbs--col6{
            display: flex;
            flex-wrap: wrap;
            img{
                max-width: 180px;

                @media (min-width:1800px) {
                }  
            }
        }
    }
    
    
    
    
    .clients{
        min-height: 45rem;
        background-color: #ffffff;
        .bar--client{
            padding: 80px 0px 0px 80px;
        }
        h1{
            padding: 0px 80px 100px 80px;
            @media (min-width:1800px) {
                padding:  100px 380px;
            }  
        }
        .clients--box{
            display: flex;
            align-items: center;
            justify-content: center; 
            padding: 10px 80px;
            @media (min-width:1800px) {
                padding: 60px 80px;
            }    
        }
        .clients--brand{
            img{
                width: 100%;
                padding: 20px 30px; 
            }
        }
    }  
    
    
    footer{
        background-color: #131313;
        background: url(../img/footer/footerbg.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        width: 100vw;
        min-height: 50rem;
        
        .bar--footer{
            padding: 80px 0px 0px 80px;
        }
        
        h1{
            padding: 0px 80px 220px 80px;
            color: #ffffff;
            @media (min-width:1800px) {
                padding:  100px 380px;
            }  
        }
        .footer--contact{
            
            padding: 100px 80px; 
            display: flex;
            align-items: center;
            width: 590px;
            margin: 0px 10px;
            a{
                margin-right: 8rem;
            }
            
            P{
                color: #ffffff;
                font-size: 11px;
            }
            
            .footer--p{
                color: #25fcff;
            }
        }
        
    }
    
    
    