//main resolution: 1444px

* {
    margin: 0;   
    font-family: 'ITC Avant Garde Gothic Std Book';
    font-weight: normal;
    font-style: normal;    
    box-sizing: border-box;
}
h1{
    font-size: 60px; 
    font-family: 'ITC Avant Garde Gothic Std Demi';
    font-weight: 900;
}

nav {
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    top:0;
    
    .brand{
        margin: 30px 30px;
        align-items: center;
    }
}

//Menu Toggle
.menu--toggle {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 3;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.menu--toggle a {
    padding: 8px 8px 8px 32px;  
    text-decoration: none;
    font-size: 35px;
    font-weight: bold;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.menu--toggle a:hover {
    color: #f1f1f1;
}

.menu--toggle .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

// SUGESTAO =>@media screen and (max-height: 450px){
    //   .menu--toggle {padding-top: 15px;}
    //   .menu--toggle a {font-size: 18px;}
    // }
    //end Menu Toggle
    
    
    header{
        background: url(../img/bgheader.jpg);
        background-size: cover;
        min-height: 50rem;
        background-repeat: no-repeat;
        background-position: 45%;
        @media screen and(min-width: 1800px)  {
            min-height: 80rem;
        }
        
        @media screen and (max-width: 920px) {
            min-height: 35rem;
        }
        
        P{
            width: 552px;
            font-size: 25px;
            color: #16a2c5;
            padding: 300px 0px 10px 85px;
            text-transform: uppercase; 
            line-height: 1.6; 
            letter-spacing: 1px;          
        }  

        h1{
            font-size: 78px;
            padding: 0px 85px;
            color: #ffffff;           
        }    
    }
    
    
    //SECTION ENTREGAMOS 
    .wedeliver{
        background-color: #1db2d7;
        min-height: 950px;
        z-index: -1;
        position: relative;
        padding-bottom: 185px;
        @media screen and (max-width: 1224px){
            min-height: 790px;
            padding-bottom: 0px;
        }
        
        .bar--wedeliver{
            padding: 155px 0px 0px 85px;
        }
        h1{
            padding: 5px 0px 130px 85px;
            color: #ffffff;            
        }
        .wedeliver--products{
            display: flex;
            align-items: center;
            justify-content: space-between; 
            max-width: 1320px;
            padding-left: 85px;
            
            img{
                @media screen and (min-width: 1224px) and (min-width: 1800px)  {
                    padding-left: 55%;
                }
                @media screen and (min-width: 20px) and (max-width: 1223px) {
                    width: 80%;
                }
            }
        }
    }
    //end--ENTREGAMOS 
    
    
    //SECTION JOBS
    .jobs{
        background-size: cover;
        background-color: #7b7b7b;
        max-height: 521px;// o height pelo psd=561px
        z-index: -1;
        position: relative;
        @media screen and (max-width: 1224px) {
            max-height: 421px;
        }
        @media screen and (max-width: 920px) {
            max-height: 400px;
        }
        
        .bar--job{
            padding: 170px 0px 0px 80px;
            @media screen and (max-width: 1224px) {
                padding: 90px 0px 0px 80px;;
            }
        }
        h1{
            margin-bottom: 120px;
            padding: 5px 80px 0px 85px;
            color: #ffffff;
            
        }
        .jobs--bullets{
            display: flex;
            align-items: center;
            margin-left: 252px; 
            margin-top: 10px; 
            z-index: 1;
            position: absolute;
            @media screen and (max-width: 1224px) {
                margin-left: 190px; 
                margin-top: -30px; 
            }  
            
            a{
                padding: 0px 15px;
                @media screen and (max-width: 1224px) {
                    padding: 0px 7px;
                }  
            } 
        }            
    }
    .jobs--p{
        color:#ffffff;
        //o width do psd=184px  
        @media screen and (max-width: 1224px) {
            margin: 50px 0px;
        }           
        @media screen and (max-width: 920px) {
            margin: 0px 0px;
        }           
        p{          
            padding: 5px 80px;
            font-size: 14px;
            
        }
        .jobs--p-adjust{
            color:#131313;
            font-size: 11px;
        }  
    }
    
    .jobs--celprlx{
        img{
            max-height: 630px;
            margin-left: 107px;
            margin-top: -561px;//??? adjust this
            @media screen and (max-width: 1224px) {
                max-height: 500px;
                margin-top: -490px;
                margin-left: 13px;
            }   
            @media screen and (max-width: 920px) {
                max-height: 450px;
            }   
        } 
        .cel--base{
            position: absolute;
            z-index: 1;            
        }
        .cel--conteudo{
            position: absolute;
            z-index: 1;
            max-height: 630px;
            @media screen and (max-width: 1224px) {
                max-height: 500px;
                margin-top: -490px;
                margin-left: 13px;
            } 
            @media screen and (max-width: 920px) {
                max-height: 450px;
                margin-top: -440px;
                margin-left: 13px;
            } 
        }   
    }  
    
    
    .thumbs {
        padding: 0;
        -ms-box-orient: horizontal;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        background-color: #d8e3e9;
        img{
            width: 240px;
            @media screen and (max-width: 1224px) {
                width: 180px;
            }
        }
    }
    //end--JOBS 
    
    
    //SECTION CLIENTES
    .clients{
        min-height: 45rem;
        background-color: #ffffff;
        .bar--client{
            padding: 140px 0px 0px 80px;
        }
        h1{
            padding: 0px 80px 100px 80px;            
        }
        .clients--col{
            display: flex;
            align-items: center;
            justify-content: center; 
            padding: 10px 80px;
            margin-bottom: 174px;
            
        }
        .clients--brand{
            img{
                width: 100%;
                padding: 20px 30px;
                @media screen and (min-width: 1800px) {
                    padding: 20px 100px;
                }
            }
        }
    }  
    //end--CLIENTES   
    
    
    footer{
        background-color: #131313;
        background: url(../img/footer/footerbg.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        min-height: 50rem;
        display: flex;
        align-items: center;    
        
        .bar--footer{
            padding: 145px 0px 0px 80px;
            @media screen and (max-width: 1224px) {
                padding: 0px 0px 0px 80px;
            }
        }        
        h1{
            padding: 0px 80px 220px 80px;
            color: #ffffff;
            @media screen and (max-width: 1224px) {
                padding-bottom: 170px;
            }
        }
        .footer--contact{
            width: 575px;             
        }
        .footer--data{            
            padding: 60px 80px; 
            display: flex;
            align-items: flex-end;
            width: 575px;
            margin: 0px 10px;
            @media screen and (max-width: 1224px) {
                padding: 70px 80px; 
            }
            
            a{
                margin-right: 2rem;
            }            
            P{
                color: #ffffff;
                font-size: 11px;
            }            
            .footer--p{
                color: #25fcff;
            }
        }
        .footer--gallery{
            padding: 81px 50px 0px 250px; 
            @media screen and (max-width: 1224px) {
                padding: 0px 50px 0px 0px; 
            }          
            @media screen and (min-width: 1800px) {
                //padding-left: 1263px; 
                padding-left: 50%; 
            }          
        }
        .footer--gallery--01, .footer--gallery-right, .footer--gallery-base--r1, .footer--gallery-base--r2{
            display: flex;
            align-items: center; 
            img{
                margin: 3px 3px;
                @media screen and (max-width: 1224px) {
                    margin: 2px 2px;
                    @media screen and (min-width: 1080px) {
                        width: 95%;
                        margin: 0 auto;
                    }
                    
                } 
            }                
        }
    }
    
    
    