* {
    margin: 0;   
    font-family: 'Montserrat', sans-serif;    
}
h1{
    font-size: 45px;
    font-weight: 900;
}

nav {
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    top:0;

    .brand{
        margin: 30px 30px;
        align-items: center;
    }
}


.menu__toggle{
    display:none;
}

.header{
    background: url(../img/bgheader.jpg);
    background-size: cover;
    object-fit: cover;
    min-height: 50rem;
    background-repeat: no-repeat;
    background-position: 45%;
    
}

#cards{
    background-color: #1db2d7;
    min-height: 40rem;
    h1{
        padding: 45px 40px;
    }
    #cards__products{
        display: flex;
        align-items: center;
        justify-content: center;              
    }

    .cards__img{
        max-width: 15rem;
        padding-top:20px;
    }
  
}

#carousel{
    min-height: 20rem;
    background-color: #7b7b7b;
}


.thumbs__box{
    max-width: 100rem;
    min-height: 10rem;
    background-color: #57c3c5;
} 


#clients{
    max-width: 100rem;
    min-height: 30rem;
    background-color: #ffffff;
}  

footer{
    max-width: 100rem;
    min-height: 30rem;
    background-color: #131313;
}